// Палитра
$textColor: #FCFCFC;
$mainColor: #242424;
$extraColor1: #363636;
$extraColor2: #000000;
$scrollbarColor: #c4c4c45b;
//
@mixin userSelect {
    user-select: none;
}

@mixin scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $scrollbarColor $mainColor;
}
// 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    @include scrollbar;
    ::selection {
        background-color: $textColor;
        color: $extraColor1;
    }
}

body {
    background-color: $mainColor;
    header {
        .header__text {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 18px;
            display: flex;
            flex-direction: row;
            margin: 5px 5px 5px 7px;
            gap: 1rem;
            color: $textColor;
            user-select: none;
            overflow: hidden;
        }
        .header__mainText {
            position: absolute;
            width: 525px;
            height: 115px;
            left: 110px;
            top: 190px;
            margin: 14px 29px 19px 55px;
            .header__image {
                overflow: hidden;
                .header__gamepad {
                    width: 520px;
                    position: absolute;
                    left: 688px;
                    top: -71px;
                    margin: 69px 0 4px 50px;
                    overflow: hidden;
                    @include userSelect;
                }
            }
            .header__subtitle {
                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $textColor;
                margin: 19px 11px 32px 0;
            }
            .header__nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 80px;
                    li {
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            background-color: $extraColor1;
                            color: $textColor;
                            margin: 32px 0 0 0;
                            padding: 10px 22px;
                            border-radius: 8px;
                            transition: .3s cubic-bezier(.17,.67,.83,.67);
                            &:hover {
                                background-color: $textColor;
                                color: $extraColor1;
                                transition: .3s cubic-bezier(.17,.67,.83,.67);                           }
                        }
                        .header__nav_main {
                            background-color: $textColor;
                            color: $extraColor1;
                            margin: 32px 0 0 0;
                            padding: 10px 22px;
                            border-radius: 8px;
                            transition: .3s cubic-bezier(.17,.67,.83,.67);
                            &:hover {
                                background-color: $extraColor1;
                                color: $textColor;
                                transition: .3s cubic-bezier(.17,.67,.83,.67);                           }
                        }
                    }
                }
            }
        }
    }
    main {
        .main__block {
            display: flex;
            justify-content: center;
            align-items: center;
            .main__image {
                width: 307px;
                height: 342px;
                position: absolute;
                z-index: -2;
                top: 500px;
                left: -200px;
                margin: 69px 0 4px 50px;
                @include userSelect()
            }
            .main__text {
                display: flex;
                justify-content: center;
                align-items: center;
                .main__title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 314px;
                    height: 44px;
                    left: 700px;
                    top: 817px;
                    margin: 4px 15px 16px 16px;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: $textColor;
                }
                .main__info {
                    position: absolute;
                    top: 867px;
                    left: 700px;
                    p {
                        font-size: 18px;
                        font-weight: 500;
                        width: 600px;
                        color: $textColor;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        margin: 19px 11px 32px 0;
                    }
                    ul {
                        margin-top: 10px;
                        li {
                            list-style-type: disc;
                            font-weight: bold;
                            margin-left: 14px;
                            margin-top: 10px;
                            margin-right: 10px;
                            width: 170px;
                            color: $textColor;
                            transition: .3s ease-in-out;
                            &:hover {
                                transform: translateX(10px);
                                transition: .3s ease-in-out;
                            }
                            &:after {
                                transform: translateX(0px);
                                transition: .3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .slider {
        position: absolute;
        top: 1400px;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 80px;
        .slider__title {
            color: $textColor;
            margin: 40px;
            text-align: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            font-weight: 500;
        }
        .slider__wrapper {
            width: 100%;
            align-items: center;
            .slider__body {
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 10px;
                margin-left: 110px;
                margin-right: 0;
                overflow-x: scroll;
                border-radius: 20px;
                .slider__slide {
                    width: 380px;
                    height: 210px;
                    padding: 40px 40px 40px 40px;
                    background-color: $extraColor1;
                    color: $textColor;
                    border-radius: 20px;
                    h5 {
                        font-size: 20px;
                        padding: 3px;
                        text-align: left;
                    }
                    p {
                        font-size: 16px;
                        padding-left: 0;
                        padding-top: 5px;
                        padding-bottom: 30px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        text-align: left;
                    }
                    .slider__button {
                        font-size: 14px;
                        background-color: $textColor;
                        color: $extraColor1;
                        text-decoration: none;
                        font-weight: bold;
                        margin-left: 180px;
                        margin-right: 40px;
                        padding: 5px 21px;
                        border-radius: 8px;
                        transition: .3s cubic-bezier(.17,.67,.83,.67);
                        &:hover {
                            background-color: $mainColor;
                            color: $textColor;
                            transition: .3s cubic-bezier(.17,.67,.83,.67);
                        }
                    }
                }
                .slider__slide:nth-child(5),
                .slider__slide:nth-child(6),
                .slider__slide:nth-child(7),
                .slider__slide:nth-child(8) {
                    margin-bottom: 10px;
                }
            }
        }
    }
    footer {
        ::selection {
            background-color: $mainColor;
            color: $textColor;
        }
        position: absolute;
        top: 2200px;
        background-color: $textColor; //Контрастный футер :)
        width: 100%;
        // height: 200px;
        .footer__main {
            margin: 20px;
            padding: 10px;
            .footer__title {
                p {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    color: $mainColor;
                }
            }
            .footer__info {
                a {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: $extraColor1;
                    margin: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s ease-in-out;
                    &:hover {
                        text-decoration: underline;
                        transition: 1s ease-in-out;
                    }
                }
            }
        }
    }
}


