// Палитра
$textColor: #FCFCFC;
$mainColor: #363636;
$extraColor1: #242424;
$extraColor2: #000000;
//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ::selection {
        background-color: $textColor;
        color: $extraColor1;
    }
}

body {
    background-color: $mainColor;
    header {
        .header__text {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 18px;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin: 15px 25px;
            color: $textColor;
            user-select: none;
        }
        .header__mainText {
            position: absolute;
            width: 525px;
            height: 115px;
            left: 110px;
            top: 190px;
            .header__image {
                overflow: hidden;
                .header__gamepad {
                    width: 520px;
                    position: absolute;
                    left: 800px;
                    top: 10px;
                }
            }
            .header__subtitle {
                font-size: 20px;
                font-weight: 600;
                color: $textColor;
                margin: 40px 5px 40px 0px;
            }
            .header__nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 80px;
                    li {
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: bold;
                            background-color: $extraColor1;
                            color: $textColor;
                            padding: 10px 20px;
                            border-radius: 10px;
                            &:hover {
                                background-color: $textColor;
                                color: $extraColor1;
                                transition: .3s cubic-bezier(.34,.64,.87,.53);
                            }
                        }
                        .header__nav_main {
                            background-color: $textColor;
                            color: $extraColor1;
                            &:hover {
                                background-color: $extraColor1;
                                color: $textColor;
                                transition: .3s cubic-bezier(.34,.64,.87,.53);
                            }
                        }
                    }
                }
            }
        }
        
    }
}